.card-body-grid-parent {
    margin-top: 8px;
    padding: 8px
}

.card-body {
    height: 100%!important;
    position: relative!important;
    border-radius: 20px!important;
    padding: 5px!important
}

.card-body a {
    font-size: 14px
}

.card-apply-button {
    color: #000!important;
    background-color: #55efc4!important;
    font-size: 15px!important;
    font-weight: 600!important;
    width: 100%;
    text-align: center;
    text-transform: capitalize!important;
    margin: 10px!important;
    display: flex;
    padding: 11px 8px
}

.card-apply-button,.job-link-button {
    border-radius: .5rem;
    align-items: center;
    justify-content: center
}
.description-container{
    height: 250px;
    overflow: hidden;
    mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.job-link-button {
    background-color: #326379!important;
    color: #fff!important;
    display: inline-flex;
    padding: .5rem;
    font-size: .9rem;
    font-weight: 700;
    min-width: 49%;
    height: 35px
}

.job-link-button img {
    height: 20px
}

.applied-button {
    background-color: gray!important;
    color: #fff!important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem .5rem;
    border-radius: .5rem;
    font-size: .9rem;
    font-weight: 700;
    width: 100%;
    margin: 10px;
    min-width: 49%;
    height: 35px;
    cursor: "default"
}

.update-info {
    color: #fff;
    font-size: 16px
}

.card-body:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.01)
}

.cards-sub-text {
    font-size: 13px
}

.jd-sub-title-text {
    color: #4943da;
    cursor: pointer;
    font-size: 12px
}

.status-container {
    flex-grow: 1;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start
}

.card-title {
    font-size: 20px!important;
    text-transform: capitalize
}

.card-salary {
    font-size: 16px!important;
    font-weight: 600;
    margin: 10px 0 8px!important
}

.chat-button {
    margin: 10px 0!important;
    padding: 6px 0;
    display: flex;
    align-items: center;
    font-weight: 600!important
}
.date-match-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.date-match-container .date-container{
    display: flex;
    align-items: flex-start;
    padding: 5px 10px;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    flex: 1 1 0%;
}
.date-container .date{
    padding: 4px 6px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
}
.innerTextCirle{
    margin: 0px;
    line-height: 1.66;
    color: rgb(6, 137, 64);
    font-weight: 900;
    font-size: 12px;
    font-family: Roboto, sans-serif !important;
}
.info-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.info-container>h3 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b
}

.info-container>h1 {
    font-size: 20px
}

.info-container>h2 {
    font-size: 14px;
    line-height: 1.5
}

.poc-info-container {
    margin-top: 10px
}